* {box-sizing:border-box;}
body { 
  margin: 0;
  position: relative;
  background: img src="images/jordanlogo.png";
  }
  
  h1 {
  font-family: 'Bungee', sans-serif;
  color: yellow;
  font-size: 70px;
  margin-block-start: -50px;
  margin-block-end: -20px;
  margin-left: 50px;
  margin-top: 50px
}

h2 {
  font-family: 'Bungee', sans-serif;
  font-weight: bold;
  color: yellow;
  font-size: 40px;
}

img { width: 100%;}
main {
  display: flex;
  height: 100vh;
}
.homepage-body main {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
}
.homepage-body main div {
 width: 50%;
 text-align: center;
 padding: 0 160px;
 transition: width 2s;
}
.homepage-body .supreme-card-expand {
  position: absolute;
  top:0;
  right:0;
  width:100vw;
  height:100vh;
}
.homepage-body .jordan-card-expand {
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}

.homepage-body .kith-card-expand {
  position: absolute;
  bottom:0;
  right:0;
  width:100vw;
  height:100vh;
}
.homepage-body .yeezy-card-expand {
  position: absolute;
  bottom:0;
  left:0;
  width:100vw;
  height:100vh;
}

.homepage-body .jordan-card {
  padding-top: 100px;
  background-color: yellow
}
.homepage-body .supreme-card {
  padding-top: 100px;
  background-color:rgb(38, 173, 74);
  
}
.homepage-body .yeezy-card {
  padding-top: 100px;
  background-color:rgb(38, 173, 74);
}
.homepage-body .kith-card {
  padding-top: 100px;
  background-color: yellow
}

.p {
  font-family: "Times New Roman", Times, serif;
}

.jordanBG{
  background-image: url("images/jordanbg.png");
  background-size: 100% 100%;
}

.supremeBG{
  background-image: url("images/supremebg.png");
  background-size: 100% 100%;
}

.yeezyBG{
  background-image: url("images/yeezybg.png");
  background-size: 100% 100%;
}

.kithBG{
  background-image: url("images/kithbg.png");
  background-size: 100% 100%;
}

body {
    margin: 0;
}

.right {
  margin-top: -200px;
  margin-left: 900px;
    width: 40%;
}
.homebutton {
  width: 3%;
  padding-top: 5px;
  padding-left: 5px
}
.nextbutton {
  width: 2.5%;
  padding-button: 50px;
  padding-right: 5px;
}


.topnav {
    background-color: white;
    overflow: hidden;
     float: right;
}
.topnav a {
  float: left;
  color: #d8d8d8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(38, 173, 74);
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}